// Inspector
.block-editor-block-inspector .components-panel__body hr {
	margin: 0 0 20px 0;
}

.sv-post-style-button.is-selected {
	background-color: #1e1e1e;
    color: #fff;
}

// General
.wp-block-straightvisions-sv-posts a {
	text-decoration: none;
}

.wp-block-straightvisions-sv-posts article,
.wp-block-straightvisions-sv-posts article.entry {
	border-style: solid;
}

.wp-block-straightvisions-sv-posts .sv-posts-title,
.wp-block-straightvisions-sv-posts .sv-posts-title a,
.wp-block-straightvisions-sv-posts .sv-posts-title span {
	font-size: 1.3em;
	font-weight: bold;
	text-decoration: none;
}

.wp-block-straightvisions-sv-posts .sv-posts-title,
.wp-block-straightvisions-sv-posts .sv-posts-excerpt p {
	margin-top: 0;
}

.block-editor-block-inspector .sv-posts-terms {
	margin-bottom: 24px;
}

.block-editor-block-inspector .sv-posts-terms .sv-posts-taxonomy-label {
	margin-bottom: 10px;
    display: block;
    border-bottom: 1px solid #757575;
    padding-bottom: 5px;
}

.block-editor-block-inspector .sv-posts-terms .components-base-control {
	margin: 0 0 12px 10px;
}

// ##### Post Style - List #####
// Wrapper
.wp-block-straightvisions-sv-posts.sv-posts-post-style-list {
	display: flex;
	flex-direction: column;
}

// Article
.wp-block-straightvisions-sv-posts.sv-posts-post-style-list article,
.wp-block-straightvisions-sv-posts.sv-posts-post-style-list article.entry {
	display: flex;
	position: relative;
	flex-direction: column;
	height: auto;
	padding: 20px 0;
	overflow: hidden;
	border-bottom: 1px solid rgba( 133, 134, 140, .2 );
}

.wp-block-straightvisions-sv-posts.sv-posts-post-style-list article.has-post-thumbnail {
	flex-direction: column;
}

@media ( min-width: 850px ) {
	.wp-block-straightvisions-sv-posts.sv-posts-post-style-list article.has-post-thumbnail {
		flex-direction: row;
	}
}

.wp-block-straightvisions-sv-posts.sv-posts-post-style-list article:first-of-type {
	border-top: 1px solid rgba( 133, 134, 140, .2 );
}

// Thumbnail
.wp-block-straightvisions-sv-posts.sv-posts-post-style-list .sv-posts-thumbnail {
	width: 100%;
	height: 160px;
	margin-bottom: 15px;
	overflow: hidden;
	position: relative;
}

@media ( min-width: 850px ) {
	.wp-block-straightvisions-sv-posts.sv-posts-post-style-list .sv-posts-thumbnail {
		width: 280px;
		margin-right: 15px;
		margin-bottom: 0;;
	}
}

.wp-block-straightvisions-sv-posts.sv-posts-post-style-list .sv-posts-thumbnail > a {
	height: 100%;
	width: 100%;
	display: block;
}

.wp-block-straightvisions-sv-posts.sv-posts-post-style-list .sv-posts-thumbnail img,
.wp-block-straightvisions-sv-posts.sv-posts-post-style-list .sv-posts-thumbnail picture {
	height: 100%;
	width: 100%;
	object-fit: cover;
	display: block;
	transition: opacity 1s ease-in-out;
}


.wp-block-straightvisions-sv-posts.sv-posts-post-style-list .sv-posts-thumbnail img:hover,
.wp-block-straightvisions-sv-posts.sv-posts-post-style-list .sv-posts-thumbnail img:focus,
.wp-block-straightvisions-sv-posts.sv-posts-post-style-list .sv-posts-thumbnail picture:hover,
.wp-block-straightvisions-sv-posts.sv-posts-post-style-list .sv-posts-thumbnail picture:focus {
	opacity: .6;
}

// Content
.wp-block-straightvisions-sv-posts.sv-posts-post-style-list .sv-posts-wrapper {
	width: 100%;
	padding: 0;
	display: flex;
	margin-left: 0;
	flex-direction: column;
}

// sv-posts-title
.wp-block-straightvisions-sv-posts.sv-posts-post-style-list .sv-posts-wrapper .sv-posts-title {
	margin-top: 0;
	margin-bottom: .3em;
}

// Excerpt
@media ( min-width: 850px ) {
	.wp-block-straightvisions-sv-posts.sv-posts-post-style-list .sv-posts-excerpt {
		margin-bottom: .5em;
	}
}

.wp-block-straightvisions-sv-posts.sv-posts-post-style-list .sv-posts-excerpt p {
	margin-bottom: 0;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

// Read More
.wp-block-straightvisions-sv-posts.sv-posts-post-style-list .sv-posts-read-more {
	text-decoration: none;
	display: inline-block;
	position: relative;
	margin-top: .3em;
	transition: .25s ease-in-out;
	line-height: 100%;
}

.wp-block-straightvisions-sv-posts.sv-posts-post-style-list .sv-posts-read-more::after {
	display: block;
	height: 2px;
	content: '';
	width: 0;
	margin-top: 4px;
	transition: .25s ease-in-out;
	background-color: #828282;
}

.wp-block-straightvisions-sv-posts.sv-posts-post-style-list .sv-posts-read-more:hover::after,
.wp-block-straightvisions-sv-posts.sv-posts-post-style-list .sv-posts-read-more:focus::after {
	width: 100%;
}

// Info
.wp-block-straightvisions-sv-posts.sv-posts-post-style-list .sv-posts-info {
	display: flex;
	font-size: .9em;
	flex-direction: column;
	margin-top: .5em;
	font-family: sans-serif;
}

@media ( min-width: 850px ) {
	.wp-block-straightvisions-sv-posts.sv-posts-post-style-list .sv-posts-info {
		flex-direction: row;
		font-size: .8em;
		margin-top: auto;
	}
}

.wp-block-straightvisions-sv-posts.sv-posts-post-style-list .sv-posts-info i {
	display: inline-flex;
    margin-right: 5px;
    width: .8em;
    height: .8em;
}

.wp-block-straightvisions-sv-posts.sv-posts-post-style-list .sv-posts-info i > svg {
	height: 100%;
    width: 100%;
    fill: currentColor;
}

.wp-block-straightvisions-sv-posts.sv-posts-post-style-list .sv-posts-info > div {
	margin-bottom: .2em;
	display: flex;
	align-items: center;
}

@media ( min-width: 850px ) {
	.wp-block-straightvisions-sv-posts.sv-posts-post-style-list .sv-posts-info > div {
		margin-right: 20px;
		margin-bottom: 0;
	}
}

.wp-block-straightvisions-sv-posts.sv-posts-post-style-list .sv-posts-info a {
	text-decoration: none;
	font-weight: 500;
	transition: color .25s ease;
}

.wp-block-straightvisions-sv-posts.sv-posts-post-style-list .sv-posts-info a:hover,
.wp-block-straightvisions-sv-posts.sv-posts-post-style-list .sv-posts-info a:focus {
	text-decoration: none;
	transition: color .25s ease-in-out;
}
// ################################

// ##### Post Style - Card #####
// Wrapper - Layout: Masonry
.wp-block-straightvisions-sv-posts.sv-posts-post-style-card.sv-posts-layout-masonry {
	column-gap: 20px;
    column-count: 1;
}

@media ( min-width: 850px ) {
	.wp-block-straightvisions-sv-posts.sv-posts-post-style-card.sv-posts-layout-masonry { column-count: 2; }
	.wp-block-straightvisions-sv-posts.sv-posts-post-style-card.sv-posts-layout-masonry.sv-posts-layout-cols-1 { column-count: 1; }
}

@media ( min-width: 1350px ) {
	.wp-block-straightvisions-sv-posts.sv-posts-post-style-card.sv-posts-layout-masonry.sv-posts-layout-cols-1 { column-count: 1; }
	.wp-block-straightvisions-sv-posts.sv-posts-post-style-card.sv-posts-layout-masonry.sv-posts-layout-cols-2 { column-count: 2; }
	.wp-block-straightvisions-sv-posts.sv-posts-post-style-card.sv-posts-layout-masonry.sv-posts-layout-cols-3 { column-count: 3; }
	.wp-block-straightvisions-sv-posts.sv-posts-post-style-card.sv-posts-layout-masonry.sv-posts-layout-cols-4 { column-count: 4; }
	.wp-block-straightvisions-sv-posts.sv-posts-post-style-card.sv-posts-layout-masonry.sv-posts-layout-cols-5 { column-count: 5; }
	.wp-block-straightvisions-sv-posts.sv-posts-post-style-card.sv-posts-layout-masonry.sv-posts-layout-cols-6 { column-count: 6; }
}

// Wrapper - Layout: Grid
.wp-block-straightvisions-sv-posts.sv-posts-post-style-card.sv-posts-layout-grid {
	display: flex;
	flex-wrap: wrap;
	margin: -10px;
}

// Article - Layout: Masonry
.wp-block-straightvisions-sv-posts.sv-posts-post-style-card.sv-posts-layout-masonry article,
.wp-block-straightvisions-sv-posts.sv-posts-post-style-card.sv-posts-layout-masonry article.entry {
	margin-top: 0;
	margin-bottom: 20px;
}

// Article - Layout: Grid
.wp-block-straightvisions-sv-posts.sv-posts-post-style-card.sv-posts-layout-grid article,
.wp-block-straightvisions-sv-posts.sv-posts-post-style-card.sv-posts-layout-grid article.entry {
	display: flex;
	flex: 0 0 100%;
    flex-direction: column;
	margin: 10px;
}

// Mobile
@media ( min-width: 550px ) {
	.wp-block-straightvisions-sv-posts.sv-posts-post-style-card.sv-posts-layout-grid article,
	.wp-block-straightvisions-sv-posts.sv-posts-post-style-card.sv-posts-layout-grid article.entry { flex: 0 0 calc( 50% - 20px ); }
	.wp-block-straightvisions-sv-posts.sv-posts-post-style-card.sv-posts-layout-grid.sv-posts-layout-cols-1 article,
	.wp-block-straightvisions-sv-posts.sv-posts-post-style-card.sv-posts-layout-grid.sv-posts-layout-cols-1 article.entry { flex: 0 0 100%; }
}

// Tablet
@media ( min-width: 850px ) {
	.wp-block-straightvisions-sv-posts.sv-posts-post-style-card.sv-posts-layout-grid.sv-posts-layout-cols-1 article,
	.wp-block-straightvisions-sv-posts.sv-posts-post-style-card.sv-posts-layout-grid.sv-posts-layout-cols-1 article.entry { flex: 0 0 100%; }
	.wp-block-straightvisions-sv-posts.sv-posts-post-style-card.sv-posts-layout-grid.sv-posts-layout-cols-2 article,
	.wp-block-straightvisions-sv-posts.sv-posts-post-style-card.sv-posts-layout-grid.sv-posts-layout-cols-2 article.entry { flex: 0 0 calc( 50% - 20px ); }
	.wp-block-straightvisions-sv-posts.sv-posts-post-style-card.sv-posts-layout-grid.sv-posts-layout-cols-3 article,
	.wp-block-straightvisions-sv-posts.sv-posts-post-style-card.sv-posts-layout-grid.sv-posts-layout-cols-3 article.entry { flex: 0 0 calc( 33% - 20px ); }
	.wp-block-straightvisions-sv-posts.sv-posts-post-style-card.sv-posts-layout-grid.sv-posts-layout-cols-4 article,
	.wp-block-straightvisions-sv-posts.sv-posts-post-style-card.sv-posts-layout-grid.sv-posts-layout-cols-4 article.entry { flex: 0 0 calc( 25% - 20px ); }
	.wp-block-straightvisions-sv-posts.sv-posts-post-style-card.sv-posts-layout-grid.sv-posts-layout-cols-5 article,
	.wp-block-straightvisions-sv-posts.sv-posts-post-style-card.sv-posts-layout-grid.sv-posts-layout-cols-5 article.entry { flex: 0 0 calc( 20% - 20px ); }
	.wp-block-straightvisions-sv-posts.sv-posts-post-style-card.sv-posts-layout-grid.sv-posts-layout-cols-6 article,
	.wp-block-straightvisions-sv-posts.sv-posts-post-style-card.sv-posts-layout-grid.sv-posts-layout-cols-6 article.entry { flex: 0 0 calc( 16.5% - 20px ); }
}

// Article
.wp-block-straightvisions-sv-posts.sv-posts-post-style-card article,
.wp-block-straightvisions-sv-posts.sv-posts-post-style-card article.entry {
	display: inline-block;
	position: relative;
	width: 100%;
	overflow: hidden;
	background-color: rgb( 255, 255, 255 );
}

@media ( min-width: 576px ) {
	.wp-block-straightvisions-sv-posts.sv-posts-post-style-card article.sv-post-thumbnail-position-left,
	.wp-block-straightvisions-sv-posts.sv-posts-post-style-card article.sv-post-thumbnail-position-right {
		flex-direction: row;
	}
}

.wp-block-straightvisions-sv-posts.sv-posts-post-style-card article a,
.wp-block-straightvisions-sv-posts.sv-posts-post-style-card article.entry a {
	text-decoration: none;
}

// Thumbnail
.wp-block-straightvisions-sv-posts.sv-posts-post-style-card .sv-posts-thumbnail {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 200px;
}

@media ( min-width: 576px ) {
	.wp-block-straightvisions-sv-posts.sv-posts-post-style-card article.sv-post-thumbnail-position-left .sv-posts-thumbnail,
	.wp-block-straightvisions-sv-posts.sv-posts-post-style-card article.sv-post-thumbnail-position-right .sv-posts-thumbnail {
		height: 100%;
	}
}

.wp-block-straightvisions-sv-posts.sv-posts-post-style-card article.sv-post-thumbnail-position-top .sv-posts-thumbnail,
.wp-block-straightvisions-sv-posts.sv-posts-post-style-card article.sv-post-thumbnail-position-left .sv-posts-thumbnail {
	order: 1;
}

.wp-block-straightvisions-sv-posts.sv-posts-post-style-card article.sv-post-thumbnail-position-bottom .sv-posts-thumbnail,
.wp-block-straightvisions-sv-posts.sv-posts-post-style-card article.sv-post-thumbnail-position-right .sv-posts-thumbnail {
	order: 2;
}

@media ( min-width: 850px ) {
	.wp-block-straightvisions-sv-posts.sv-posts-post-style-card .sv-posts-thumbnail {
		height: 250px;
	}

	.wp-block-straightvisions-sv-posts.sv-posts-post-style-card article.sv-post-thumbnail-position-left .sv-posts-thumbnail,
	.wp-block-straightvisions-sv-posts.sv-posts-post-style-card article.sv-post-thumbnail-position-right .sv-posts-thumbnail {
		height: 100%;
	}
}

.wp-block-straightvisions-sv-posts.sv-posts-post-style-card .sv-posts-thumbnail > a {
	width: 100%;
    position: absolute;
	overflow: hidden;
	transition: opacity .5s ease;
}

.wp-block-straightvisions-sv-posts.sv-posts-post-style-card .sv-posts-thumbnail:hover > a,
.wp-block-straightvisions-sv-posts.sv-posts-post-style-card .sv-posts-thumbnail:focus > a {
	opacity: .5;
}


.wp-block-straightvisions-sv-posts.sv-posts-post-style-card .sv-posts-thumbnail img,
.wp-block-straightvisions-sv-posts.sv-posts-post-style-card .sv-posts-thumbnail picture {
	width: 100%;
    height: 250px;
    object-fit: cover;
	max-width: 100%;
}

.wp-block-straightvisions-sv-posts.sv-posts-post-style-card article.sv-post-thumbnail-position-left .sv-posts-thumbnail img,
.wp-block-straightvisions-sv-posts.sv-posts-post-style-card article.sv-post-thumbnail-position-right .sv-posts-thumbnail img,
.wp-block-straightvisions-sv-posts.sv-posts-post-style-card article.sv-post-thumbnail-position-left .sv-posts-thumbnail picture,
.wp-block-straightvisions-sv-posts.sv-posts-post-style-card article.sv-post-thumbnail-position-right .sv-posts-thumbnail picture {
	height: 100%;
}

// Categories
.wp-block-straightvisions-sv-posts.sv-posts-post-style-card .sv-posts-thumbnail .sv-posts-categories {
	position: absolute;
	padding: 10px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	max-height: 30%;
	overflow: hidden;
	z-index: 100;
}

.wp-block-straightvisions-sv-posts.sv-posts-post-style-card .sv-posts-thumbnail .sv-posts-categories a {
	text-decoration: none;
	font-size: .75em;
	padding: 5px 10px;
	margin: 2px;
	font-family: sans-serif;
}

// Content
.wp-block-straightvisions-sv-posts.sv-posts-post-style-card .sv-posts-wrapper {
	flex: auto;
    display: flex;
    flex-direction: column;
	width: 100%;
	padding: 20px;
    overflow: hidden;
    color: #2f2f2f;
}

.wp-block-straightvisions-sv-posts.sv-posts-post-style-card article.sv-post-thumbnail-position-top .sv-posts-wrapper,
.wp-block-straightvisions-sv-posts.sv-posts-post-style-card article.sv-post-thumbnail-position-left .sv-posts-wrapper {
	order: 2;
}

.wp-block-straightvisions-sv-posts.sv-posts-post-style-card article.sv-post-thumbnail-position-bottom .sv-posts-wrapper,
.wp-block-straightvisions-sv-posts.sv-posts-post-style-card article.sv-post-thumbnail-position-right .sv-posts-wrapper {
	order: 1;
}

// Title
.wp-block-straightvisions-sv-posts.sv-posts-post-style-card .sv-posts-title {
	margin-top: 0;
	margin-bottom: .3em;
}

// Excerpt
.wp-block-straightvisions-sv-posts.sv-posts-post-style-card .sv-posts-excerpt > p {
	margin: 0;
}

.wp-block-straightvisions-sv-posts.sv-posts-post-style-card .sv-posts-read-more {
	text-decoration: none;
	display: inline-block;
	position: relative;
	margin-top: .5em;
	transition: .25s ease-in-out;
	line-height: 100%;
}

.wp-block-straightvisions-sv-posts.sv-posts-post-style-card .sv-posts-read-more::after {
	display: block;
	height: 2px;
	content: '';
	width: 0;
	margin-top: 4px;
	transition: .25s ease-in-out;
	background-color: #828282;
}

.wp-block-straightvisions-sv-posts.sv-posts-post-style-card .sv-posts-read-more:hover::after,
.wp-block-straightvisions-sv-posts.sv-posts-post-style-card .sv-posts-read-more:focus::after {
	width: 100%;
}

// Info
.wp-block-straightvisions-sv-posts.sv-posts-post-style-card .sv-posts-info {
	display: flex;
	flex: auto;
	flex-direction: column;
	font-size: .8em;
	font-family: sans-serif;
	margin-top: .5em;
}

.wp-block-straightvisions-sv-posts.sv-posts-post-style-card .sv-posts-info i {
	display: inline-flex;
    margin-right: 5px;
    width: .8em;
    height: .8em;
}

.wp-block-straightvisions-sv-posts.sv-posts-post-style-card .sv-posts-info i > svg {
	height: 100%;
    width: 100%;
    fill: currentColor;
}

.wp-block-straightvisions-sv-posts.sv-posts-post-style-card  .sv-posts-info a {
	text-decoration: none;
	font-weight: 500;
	transition: color .25s ease;
}

.wp-block-straightvisions-sv-posts.sv-posts-post-style-card  .sv-posts-info a:hover,
.wp-block-straightvisions-sv-posts.sv-posts-post-style-card  .sv-posts-info a:focus {
	text-decoration: none;
	transition: color .25s ease-in-out;
}
// ###################################

// ##### Post Style - Tile #####
// Wrapper
.wp-block-straightvisions-sv-posts.sv-posts-post-style-tile {
	display: flex;
	flex-wrap: wrap;
	margin: -10px;
}

// Article
.wp-block-straightvisions-sv-posts.sv-posts-post-style-tile article,
.wp-block-straightvisions-sv-posts.sv-posts-post-style-tile article.entry {
	width: 100%;
	position: relative;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	color:#FFF;
	cursor: pointer;
	margin: 10px;
	flex: 1 0 100%;
	border: 1px solid #ededed;
	border-radius: 2px;
	overflow: hidden;
	background-color: rgb( 255, 255, 255 );
}

.wp-block-straightvisions-sv-posts.sv-posts-post-style-tile article a,
.wp-block-straightvisions-sv-posts.sv-posts-post-style-tile article.entry a {
	text-decoration: none;
}

// Mobile
@media ( min-width: 550px ) {
	.wp-block-straightvisions-sv-posts.sv-posts-post-style-tile article,
	.wp-block-straightvisions-sv-posts.sv-posts-post-style-tile article.entry { flex: 1 0 calc( 50% - 20px ); }
	.wp-block-straightvisions-sv-posts.sv-posts-post-style-tile.sv-posts-layout-cols-1 article,
	.wp-block-straightvisions-sv-posts.sv-posts-post-style-tile.sv-posts-layout-cols-1 article.entry { flex: 1 0 100%; }
}

// Tablet
@media ( min-width: 850px ) {
	.wp-block-straightvisions-sv-posts.sv-posts-post-style-tile.sv-posts-layout-cols-1 article,
	.wp-block-straightvisions-sv-posts.sv-posts-post-style-tile.sv-posts-layout-cols-1 article.entry { flex: 1 0 100%; }
	.wp-block-straightvisions-sv-posts.sv-posts-post-style-tile.sv-posts-layout-cols-2 article,
	.wp-block-straightvisions-sv-posts.sv-posts-post-style-tile.sv-posts-layout-cols-2 article.entry { flex: 1 0 calc( 50% - 20px ); }
	.wp-block-straightvisions-sv-posts.sv-posts-post-style-tile.sv-posts-layout-cols-3 article,
	.wp-block-straightvisions-sv-posts.sv-posts-post-style-tile.sv-posts-layout-cols-3 article.entry { flex: 1 0 calc( 33% - 20px ); }
	.wp-block-straightvisions-sv-posts.sv-posts-post-style-tile.sv-posts-layout-cols-4 article,
	.wp-block-straightvisions-sv-posts.sv-posts-post-style-tile.sv-posts-layout-cols-4 article.entry { flex: 1 0 calc( 25% - 20px ); }
	.wp-block-straightvisions-sv-posts.sv-posts-post-style-tile.sv-posts-layout-cols-5 article,
	.wp-block-straightvisions-sv-posts.sv-posts-post-style-tile.sv-posts-layout-cols-5 article.entry { flex: 1 0 calc( 20% - 20px ); }
	.wp-block-straightvisions-sv-posts.sv-posts-post-style-tile.sv-posts-layout-cols-6 article,
	.wp-block-straightvisions-sv-posts.sv-posts-post-style-tile.sv-posts-layout-cols-6 article.entry { flex: 1 0 calc( 16.5% - 20px ); }
}

// Thumbnail
.wp-block-straightvisions-sv-posts.sv-posts-post-style-tile .sv-posts-thumbnail {
	overflow: hidden;
	height: 0;
	padding-bottom: 100%;
}

.wp-block-straightvisions-sv-posts.sv-posts-post-style-tile .sv-posts-thumbnail > a {
	height: 100%;
	position: absolute;
	overflow: hidden;
	opacity: .5;
	transition: opacity .5s ease;
}

@media ( min-width: 850px ) {
	.wp-block-straightvisions-sv-posts.sv-posts-post-style-tile .sv-posts-thumbnail > a {
		opacity: 1;
	}

	.wp-block-straightvisions-sv-posts.sv-posts-post-style-tile article:hover .sv-posts-thumbnail > a {
		opacity: .5;
	}
}

.wp-block-straightvisions-sv-posts.sv-posts-post-style-tile .sv-posts-thumbnail img,
.wp-block-straightvisions-sv-posts.sv-posts-post-style-tile .sv-posts-thumbnail picture {
	width: 100vw;
	height: 100%;
	object-fit: cover;
	max-width: 100%;
	max-height: 100%;
}

// Categories
.wp-block-straightvisions-sv-posts.sv-posts-post-style-tile .sv-posts-categories {
	position: absolute;
	padding: 10px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	max-height: 30%;
	overflow: hidden;
	z-index: 100;
}

.wp-block-straightvisions-sv-posts.sv-posts-post-style-tile .sv-posts-categories a {
	text-decoration: none;
	font-size: .75em;
	padding: 5px 10px;
	margin: 2px;
	font-family: sans-serif;
}

// Content
.wp-block-straightvisions-sv-posts.sv-posts-post-style-tile .sv-posts-wrapper {
	position: absolute;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
	padding: 0;
	background-color: rgba( 0, 0, 0, .5 );
}

@media ( min-width: 850px ) {
	.wp-block-straightvisions-sv-posts.sv-posts-post-style-tile .sv-posts-wrapper {
		background-color: transparent;
	}
}

// Info
.wp-block-straightvisions-sv-posts.sv-posts-post-style-tile .sv-posts-info,
.wp-block-straightvisions-sv-posts.sv-posts-post-style-tile .sv-posts-excerpt {
	position: static;
	padding: 30px;
	width: 100%;
	transition: opacity .5s ease;
}

.wp-block-straightvisions-sv-posts.sv-posts-post-style-tile .sv-posts-info {
	margin: 0;
	text-shadow: 0px 1px 5px rgb(50,50,50);
	padding-bottom: .5em;
	font-family: sans-serif;
}

.wp-block-straightvisions-sv-posts.sv-posts-post-style-tile .sv-posts-info i {
	display: inline-flex;
    margin-right: 5px;
    width: .8em;
    height: .8em;
}

.wp-block-straightvisions-sv-posts.sv-posts-post-style-tile .sv-posts-info i > svg {
	height: 100%;
    width: 100%;
    fill: currentColor;
}

@media ( min-width: 850px ) {
	.wp-block-straightvisions-sv-posts.sv-posts-post-style-tile .sv-posts-info,
	.wp-block-straightvisions-sv-posts.sv-posts-post-style-tile .sv-posts-excerpt {
		position: absolute;
		padding: 30px;
	}

	.wp-block-straightvisions-sv-posts.sv-posts-post-style-tile article:hover .sv-posts-info {
		opacity: 0;
	}
}

// sv-posts-title
.wp-block-straightvisions-sv-posts.sv-posts-post-style-tile .sv-posts-title {
	margin-bottom: 0;
}

@media ( min-width: 850px ) {
	.wp-block-straightvisions-sv-posts.sv-posts-post-style-tile .sv-posts-title {
		margin-bottom: .3em;
	}
}

// Author & Date
.wp-block-straightvisions-sv-posts.sv-posts-post-style-tile .sv-posts-author,
.wp-block-straightvisions-sv-posts.sv-posts-post-style-tile .sv-posts-date {
	display: none;
	font-size: .8em;
	line-height: 1;
	margin-bottom: .2em;
}

@media ( min-width: 850px ) {
	.wp-block-straightvisions-sv-posts.sv-posts-post-style-tile .sv-posts-author,
	.wp-block-straightvisions-sv-posts.sv-posts-post-style-tile .sv-posts-date {
		display: block;
	}
}

// Excerpt
.wp-block-straightvisions-sv-posts.sv-posts-post-style-tile .sv-posts-excerpt {
	display: flex;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	font-size: .9em;
	overflow: hidden;
	margin: 0;
	align-items: center;
}

.wp-block-straightvisions-sv-posts.sv-posts-post-style-tile .sv-posts-excerpt p {
	line-height: 1.3;
	margin: 0;
}

@media ( min-width: 850px ) {
	.wp-block-straightvisions-sv-posts.sv-posts-post-style-tile .sv-posts-excerpt {
		opacity: 0;
	}

	.wp-block-straightvisions-sv-posts.sv-posts-post-style-tile article:hover .sv-posts-excerpt {
		opacity: 1;
	}
}